/*kod css*/
.proizvod1 {
	background-color: black;
	color: white;
	/*
	margin-left: 50px;
	margin-right: 50px;
    */
	/*margin: 0px 50px 0px 50px;*/
	margin: 0px 50px;
	border: 10px groove blue;
}
.proizvod2 {
	background-color: red;
	color: black;
	/*
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
    */
	margin: 100px 100px 100px 100px;
	border: 10px dashed skyblue;
}
.proizvod3 {
	background-color: green;
	color: black;
	/*
	margin-left: 150px;
	margin-right: 150px;
    */
	/*margin: 0px 150px 0px 150px; */
	margin: 0px 150px;
	border: 10px double red;
}
